/* You can add global styles to this file, and also import other style files */

@import "bootstrap/dist/css/bootstrap.min.css";

/* Importing Bootstrap SCSS file. */

@import '~bootstrap/scss/bootstrap';
.content {
    height: 100%;
    width: 100%;
    float: left;
    // background: -webkit-linear-gradient(to right, #0450c2, #071a88);
    // background: linear-gradient(to right, #0450c2, #071a88);
    overflow-x: hidden;
    padding-top: 10px;
    position: fixed;
    left: 20%;
    padding: 10px;
}

.card-body {
    overflow: auto;
    margin-bottom: 50px;
}